#color1 {
    background-color: #ac92e9;
}
  
#color2 {
    background-color: #9ed369;
  }
  
#color3 {
    background-color: #47cead;
  }
  
#color4 {
    background-color: #ec87bf;
}

.button {
    border: none;
    color: white;
    display: inline-block;
    font-size: x-large;
    padding: 10px;
    text-decoration: none;
}